<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
</head>

<body>
<h1 align="center">System-ML: Performance Dashboard</h1>

<div align="left">
    <select style="width: 300px;">
    <option value="volvo">Clustering</option>
    <option value="saab">Stats1</option>
    </select>
</div>


<div align="right">
{{ div | safe }}
{{ script | safe }}
</div>

</body>
</html>