<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
</head>

<body>
<h1 align="center">System-ML: Performance Dashboard</h1>

<form>
<div>
      {% block plot %}
      {% endblock %}
</div>
<p>

<div>

</div>
<p>
<div align="center" >

        {% block backend %}
        {% endblock %}

        {% block algo %}
        {% endblock %}
<p>
        <button type="submit">Reload</button>
</div>
</form>

</body>
</html>